@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Charm:wght@400;700&family=Comfortaa:wght@300;400;500&family=Courgette&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tangerine:wght@400;700&display=swap');

.sec4 .artsec4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    justify-self: center;
    margin-left: 220px;
    margin-bottom: 300px;
}



ul {
    list-style: none;
}

.btne {
    width: 40px;
    height: 30px;
    margin-left: 4px;
    font-size: 22px;
    background-color: #ffffffb8;
    font-weight: 500;
    color: rgb(0, 0, 0);
    border-color: transparent;
    margin-top: 90px;
    margin-bottom: 60px;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

.sec4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 185px;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
}

.sec4 article {
    width: 500px;
    margin-top: 120px;
    margin-bottom: -100px;
}


.sec4 .artsec4 article {
    width: 400px;
    gap: 40px;
    text-align: center;
    margin-top: 10px;
}

.sec4 article .img2 img {
    width: 260px;
    height: 260px;
    border-radius: 40px;
    border: 0.5px solid gainsboro;
    box-shadow: 2px 7px 19px 3px rgba(118,118,118,0.38);
    padding: 7px; 
}

.sec4 article h1 {
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: 400;
    margin-top: 25px;
    font-style: normal;
    text-align: center;
}

.sec4 article p {
    width: 255px;
    font-size: 19px;
    line-height: 35px;
    margin-left: 100px;
    margin-top: -33px;
    align-self: center;
    text-align: center;
    font-style: normal;
}

.cut-text { 
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 6.5rem;
}

.sec4 article button {
    background-color: #ffffff;
    border-color: black;
    width: 60px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: 50px;
    align-self: center;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

.sec4 article .btns1 {
    gap: 7px;
}



.sec4 article button:hover {
    background-color: ghostwhite;
}

.sec4 article .favour i {
    font-size: 25px;
}

.sec4 article .favour {
    width: 50px;
    background-color: transparent;
    border-color: transparent;
    margin-left: 9px;
    padding-top: 8px;
}

aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 120px;
    height: 310px;
    background-color: #ffffffb8;
    color: #000;
    gap: 30px;
    padding: 20px;
    font-size: 22px;
    margin-top: 370px;
    position: fixed;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 7px 19px 3px rgba(165, 164, 164, 0.319);
}


aside a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    margin-left: -10px;
}

aside a:hover {
    color: #000000;
    text-decoration: none;
}



.favour:hover {
    color: #c30000;
}


.vegnv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 160px;
    height: 450px;
    border-radius: 25px;
    font-size: 25px;
    text-decoration: none;
    color: #000;
    margin-left: -2890px;
    margin-top: -800px;
    gap: 26px;
    position: fixed;
    background-color: #ffffffb8;
    padding: 20px;
    box-shadow: 2px 7px 19px 3px rgba(140, 140, 140, 0.319);
}

.dropbtn {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    padding: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 2px 7px 19px 3px rgba(140, 140, 140, 0.319);
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 20px;
    border: none;
    margin-top: 61px;
    margin-left: -165px;
    position: fixed;
  }
  
  div h5 {
    font-size: 25px;
    font-style: oblique;
    font-weight: 400;
    margin-top: -70px;
    margin-bottom: 120px;
  }


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position:fixed;
    background-color: #ffff;
    font-size: 18px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  div h5 {
    margin-top: 70px;
    margin-bottom: 200px;
    font-weight: 600;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .loadMorebtn{
    background-color: #ffffff;
    border-color: black;
    width: 150px;
    height: 60px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: 50px;
    align-self: center;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
  }

  .loadMorebtn:hover {
    background-color: #000;
    color: #fff;
  }
  
  .dropdown-content a:hover {background-color: rgb(0, 0, 0);
    color: #fff;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
    background-color: #ffffff;
    box-shadow: 2px 7px 19px 3px rgba(173, 173, 173, 0.571);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

 .vegnv a {
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    cursor: pointer;
}

.vegnv a:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 22px;
}

.sec4 {
    scroll-behavior: smooth;
}

.sec4 h1 {
    font-size: 45px;
    text-align: center;
    font-style: normal;
}

html {

    scroll-behavior: smooth;
}



@media screen and (max-width: 1280px) {
    
    .sec4 { 
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

    }


    .dropdown {
        width: auto;
        justify-self: center;
    }
  
  }
